<nav class="navbar navbar-light bg-light navbar-expand">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/login">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Запись к врачу</a>
        </li>
    </ul>
</nav>